<!-- Validation failure messages -->
<% if @shift.errors.any? %>
  <% @shift.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Shift</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_shift" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for job_id -->
      <div class="form-group">
        <label for="job_id" class="control-label">
          Job
        </label>

        <input type="text" id="job_id" name="job_id" placeholder="Job" class="form-control" value="<%= @shift.job_id %>">
      </div>

      <!-- Label and input for total_pay -->
      <div class="form-group">
        <label for="total_pay" class="control-label">
          Total pay
        </label>

        <input type="text" id="total_pay" name="total_pay" placeholder="Total pay" class="form-control" value="<%= @shift.total_pay %>">
      </div>

      <!-- Label and input for approval -->
      <div class="checkbox">
        <label for="approval">
          <input type="checkbox" id="approval" name="approval" value="1" <%= "checked" if @shift.approval %>>
          Approval
        </label>
      </div>

      <!-- Label and input for reimbursements -->
      <div class="form-group">
        <label for="reimbursements" class="control-label">
          Reimbursements
        </label>

        <input type="text" id="reimbursements" name="reimbursements" placeholder="Reimbursements" class="form-control" value="<%= @shift.reimbursements %>">
      </div>

      <!-- Label and input for bonus -->
      <div class="form-group">
        <label for="bonus" class="control-label">
          Bonus
        </label>

        <input type="text" id="bonus" name="bonus" placeholder="Bonus" class="form-control" value="<%= @shift.bonus %>">
      </div>

      <!-- Label and input for hours_worked -->
      <div class="form-group">
        <label for="hours_worked" class="control-label">
          Hours worked
        </label>

        <input type="text" id="hours_worked" name="hours_worked" placeholder="Hours worked" class="form-control" value="<%= @shift.hours_worked %>">
      </div>

      <!-- Label and input for time_out -->
      <div class="form-group">
        <label for="time_out" class="control-label">
          Time out
        </label>

        <input type="text" id="time_out" name="time_out" placeholder="Time out" class="form-control" value="<%= @shift.time_out %>">
      </div>

      <!-- Label and input for time_in -->
      <div class="form-group">
        <label for="time_in" class="control-label">
          Time in
        </label>

        <input type="text" id="time_in" name="time_in" placeholder="Time in" class="form-control" value="<%= @shift.time_in %>">
      </div>

      <button class="btn btn-success">
        Create Shift
      </button>
      or
      <a href="/shifts">Cancel</a>
    </form>
  </div>
</div>
